.parent{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* border: 2px solid black; */

}

.child{
    /* flex: 1; */
    position: relative;
    right: 20rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img2{
    flex: 2;
    margin-left: 20rem;
    width: 100%;

    
}

.cart2{
    position: absolute;
    left: 24rem;
    border: none;
    padding: 10px;
    background-color: gray;
    border-radius: 4px;
    font-weight: 600;
    bottom: 7rem;
    z-index: 2;
}

.img2>:nth-child(1){
    box-shadow: rgb(169, 160, 160) 4px 8px 4px 8px;
    height: 18rem;
    width: 13rem;
    padding: 30px 30px;
}

.title2{
    color: rgb(68, 65, 65);
    font-weight: 300;
    position: relative;
    right: 1rem;
    font-size: 30px;
    
}

.price2{
    position: relative;
    /* right: 5.5rem; */
    font-size: 20px;
     padding: 5px; 
    background: rgb(35, 187, 117);
     fill: rgb(255, 255, 255); 
    border: none;
    border-radius: 6px;
    width: 140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    

}
.des2{
      text-align: justify;
      font-size: 16px;
}